<div>
  <h1>Restablecer Contraseña</h1>
  <h2>Ingrese una nueva contraseña</h2>
  <form id="restorePassForm">
    <label>Nueva Contraseña</label>
    <input name="password" type="password" id="passwordRestore" />
    <input name="userId" type="hidden" id="restoreUserId" value={{userId}} />
    <input type="submit" value="Restaurar" />
  </form>
</div>
<script src="/js/resetpassword.js"></script>